html{
    width: 100vw;
    height: 100vh;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #151515;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top: 3vmin;

    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: calc(1.5em + 2vmin);
    font-weight: 1000;
    color: limegreen;
}

h2{    
    width: 100vw;
    text-align: center;
    margin: 3vmin auto 3vmin auto;

    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: calc(1em + 1.5vmin);
    font-weight: 800;
    color: white;
}

p, label{
    color: white;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: calc(0.7em + 1vmin);
    font-weight: 400;
}

select{
    max-width: 80%;
    margin: 1vh auto 2vh auto;
    padding: 0.5em;

    border: 0.2em solid #282828;
    background-color: #151515;
    color: limegreen;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: calc(0.5em + 1vh);
    font-weight: 400;
}

#loading_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#loading_text{
    margin: 0px;
}

#main_content{
    width: 100%;
    height: 100%;
    display: none;
}

#controls_div{
    margin: 1.5vmin auto 1.5vmin auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev_control{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 2vh;
    text-align: center;
}

#prev_control_bttn{
    height: 4vmax;
}

#prev_control_bttn:hover{
    opacity: 0.8;
}

#prev_control_bttn:active{
    opacity: 0.5;
}

#prev_control_text{
    font-weight: 700;
    margin: 0%;
    padding-top: 0.5em;
}

#control_content{
    height: 25vh;
    width: 40vmin;
    display: flex;
    flex-direction: column;
}

#sync_text{
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;
}

#sync_status{
    color: red;
}

#initialise_options{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#snapshot_options{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#skip_frames_input{
    display: none;
    margin-top: 3%;
}

#snapshot_checkbox{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    border: none;
}

#get_snapshot_input{
    width: calc(0.6em + 1vmin);
}

#get_snapshot_input:not(:checked){
    background-color: #282828;
}

#get_snapshot_input:checked{
    accent-color: limegreen;
}

#snapshot_skip_frames{
    text-align: center;
    padding-top: 1.5%;

    border: none;
    background-color: #282828;
    color: limegreen;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: calc(0.6em + 1vmin);
    font-weight: 400;
}

#snapshot_skip_frames::-webkit-outer-spin-button,
#snapshot_skip_frames::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#snapshot_skip_frames{
    -moz-appearance: textfield;
}

#get_picture_options{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    display: none;
}

#get_picture_options_radioboxes{
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

#next_control{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2vh;
    text-align: center;
}

#next_control_bttn{
    height: 4vmax;
}

#next_control_bttn:hover{
    opacity: 0.8;
}

#next_control_bttn:active{
    opacity: 0.5;
}

#next_control_text{
    font-weight: 700;
    margin: 0%;
    padding-top: 0.5em;
}

#console_div{
    height: 35vh;
    width: 50vw;
    margin: 1.5vmin auto 1.5vmin auto;
}

#response_console{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 0.5em 0.3em 0.5em;

    background-color: #282828;
    color: limegreen;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: calc(0.5em + 1vh);
    font-weight: 300;
    border: none;
}

#clear_terminal_bttn{
    margin-top: 1vh;
    padding: 0.75em;

    color: white;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: calc(0.4em + 1vh);
    font-weight: 400;
    background-color: #151515;
    border: 0.3em solid #282828;
}

#clear_terminal_bttn:active{
    opacity: 0.5;
}