html{
    width: 100vw;
    height: 100vh;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #151515;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0px;
    padding-top: 2%;

    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-weight: 500;
    color: limegreen;
}

h2{
    text-align: left;
    padding-left: 2%;

    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-weight: 400;
    color: white;
}

p{
    color: white;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 1em;
}

#controls_div{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#prev_control{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 2vh;
    text-align: center;
}

#prev_control_bttn{
    height: 6vh;
}

#prev_control_bttn:hover{
    opacity: 0.8;
}

#prev_control_bttn:active{
    opacity: 0.5;
}

#prev_control_text{
    font-weight: 700;
    margin: 0%;
    padding-top: 0.5em;
}

#control_content{
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

#sync_text{
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;
    line-height: 1.5;
}

#sync_status{
    color: red;
}

#next_control{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2vh;
    text-align: center;
}

#next_control_bttn{
    height: 6vh;
}

#next_control_bttn:hover{
    opacity: 0.8;
}

#next_control_bttn:active{
    opacity: 0.5;
}

#next_control_text{
    font-weight: 700;
    margin: 0%;
    padding-top: 0.5em;
}

hr{
    width: 99vw;
    margin-top: 2%;

    color: limegreen;
}

#console_div{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#response_console{
    height:40vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    background-color: #282828;
    color: limegreen;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    border: none;
}

#clear_terminal_bttn{
    margin-top: 1vh;
    padding: 1em;

    color: white;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    background-color: #151515;
    border: 0.3em solid #282828;
}

#clear_terminal_bttn:active{
    opacity: 0.5;
}